@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
   font-family: "Inter", sans-serif;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d1d5db;
}